<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<p>A Negocialle é uma feliz parceria entre os empresários Bruno Motta, Diego César e Pedro Ivo Veloso. Com vasto conhecimento no mercado imobiliário, principalmente no que se refere a condomínios residenciais e complexos comerciais, a empresa tem como fundamento inicial proporcionar aos seus clientes um atendimento personalizado, cujo objetivo é a total realização
    dos mesmos, uma vez que adquirir um imóvel, de acordo com a perspectiva da Negocialle, vai além de investir da forma correta.
    É realizar um grande sonho!</p>
</body>
</html>