@main("Welcome to Negocialle") {
  
    <nav class="nav">
      <a class="nav-link" href="/">NEGOCIALLE!</a>
      <a class="nav-link" href="/aboutus">ABOUT US</a>
      <a class="nav-link" href="/contact">CONTACT</a>
      <a class="nav-link" href="/products">PRODUCTS</a>
    </nav>
  
      <div class="contact">
        <h1>ABOUT US</h1>
      </div>
      <div class="about">
        <h3>A Negocialle é uma feliz parceria entre os empresários Bruno Motta, Diego César e Pedro Ivo Veloso. Com vasto conhecimento no mercado imobiliário, principalmente no que se refere a condomínios residenciais e complexos comerciais, a empresa tem como fundamento inicial proporcionar aos seus clientes um atendimento personalizado, cujo objetivo é a total realização dos mesmos, 
            uma vez que adquirir um imóvel, de acordo com a perspectiva da Negocialle, vai além de investir da forma correta. É realizar um grande sonho! </h3>
        </div>
        <div>
          <ul>
            Valores:
            
            <li>
              <br/>
              Transparência;
            </li>
            <li>
              Responsabilidade;
            </li>
            <li>
              Respeito;
            </li>
     
            
          </ul>

        </div>
        

    <footer>NEGOCIALLE IMÓVEIS - ALL RESERVED RIGHTS!</footer>
    
   
  }