

@main("Welcome to Negocialle") {
  
  <nav class="nav">
    <a class="nav-link" href="/">NEGOCIALLE!</a>
    <a class="nav-link" href="/aboutus">ABOUT US</a>
    <a class="nav-link" href="/contact">CONTACT</a>
    <a class="nav-link" href="/products">PRODUCTS</a>
  </nav>

    <div class="contact">
      <h1>CONTACT US</h1>
    </div>
    <div class="info">
      <h3>Endereço: Rua francisco lobo filho, 750, catolé</h3>
    </div>
    <div class="info">
      <h3>WhatsApp: (00) 00000-0000</h3>
    </div>
    <div class="info">
      <h3>Email: negocialle#negocialle.com</h3>
    </div>
 

  <footer>NEGOCIALLE IMÓVEIS - ALL RESERVED RIGHTS!</footer>
  
 
}