@()

@main("Welcome to Negocialle") {

    
    <nav class="nav">
     
      <a class="nav-link" href="/">NEGOCIALLE!</a>
      <a class="nav-link" href="/aboutus">ABOUT US</a>
      <a class="nav-link" href="/contact">CONTACT</a>
      <a class="nav-link" href="/products">PRODUCTS</a>
    </nav>
    
      <div class="index">
        
        <img src="https://static2.oimenu.com.br/data/images/campina-grande-pb.jpg?05012021" />
      </div>
      
  

  <footer>NEGOCIALLE IMÓVEIS - ALL RESERVED RIGHTS!</footer>
  
 
}